if SHIELD_SXBOARD_LEFT

config ZMK_KEYBOARD_NAME
    default "sxboard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SXBOARD_LEFT || SHIELD_SXBOARD_RIGHT

config ZMK_SPLIT
    default y

endif