/*
 * 2x2 键盘矩阵配置
 * 行: 0.06, 0.08
 * 列: 0.17, 0.20
 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        rows = <2>;
        columns = <2>;
        
        // 2x2 矩阵映射
        map = <
            RC(0,0) RC(0,1)
            RC(1,0) RC(1,1)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        
        diode-direction = "col2row";
        
        // 行 GPIO 配置 (2行)
        row-gpios
            = <&gpio0 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // 行0: 0.06
            , <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  // 行1: 0.08
            ;
        
        // 列 GPIO 配置 (2列)
        col-gpios
            = <&gpio0 17 GPIO_ACTIVE_HIGH>  // 列0: 0.17
            , <&gpio0 20 GPIO_ACTIVE_HIGH>  // 列1: 0.20
            ;
    };
};